.switch-game-button {
	padding: 8px 16px;
	font-size: 16px;
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 5px;
	outline: none;
}

.game-title {
	font-size: 24px;
	color: #333; /* Change as needed */
}
